# min hour day(of month) mon day(of week) command
# This one should do every Monday at midnight
0 0 * * MON python3 /home/pi/wifi_qr/update_wifi.py
# This one should do every reboot
@reboot sleep 90 && python3 /home/pi/wifi_qr/update_wifi.py